.settings
{
    width: clamp(10rem, 102vw, 200rem);
    height: clamp(20rem, 20vw, 20rem);
   
}

html
{
    background-image: url(bg.jpg);
    background-size: cover;


   
}

.title
{
    position: relative;
    top: clamp(-1rem, -2vw, -1rem);
    left: clamp(-3rem, -3vw, -3rem);
  
 
}

.text-position
{
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    
 

}

.text-style
{
    position: absolute;
    top: clamp(1vw, 1vw, 1vw);
    font-size: clamp(6rem, 8vw, 6rem);
    color: aliceblue;
    font-family: Georgia;

   
}

.stuff
{
    display: flex;
    justify-content: center;
}

#s
{
    font-size: clamp(5rem, 6vw, 5rem);
}


.pictures
{
    display: flex;
    justify-content: center;
    gap: 1vw;
    color: rgb(255, 255, 255);

    

}

.images-style
{
    width: clamp(15rem, 20vw, 20rem);
    height: clamp(25rem, 30vh, 30rem);
    border: solid 10px turquoise;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.images-style:hover
{
    width: clamp(20rem, 25vw, 30rem);
    height: clamp(30rem, 35vh, 30rem);
}


.caption
{
    font-size: clamp(2rem, 2vw, 2.4rem);
    font-family: Helvetica;
    
}

@media (max-width:587px){
    .text-style
    {
        font-size: clamp(5rem, 5vw, 5rem);
        margin-left: clamp(1rem, 10vw, 15rem);

    }

    #s
    {
        font-size: clamp(3rem, 5vw, 3rem);
    }

}


#t1
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t1.hidden
{
    opacity: 0;
}

#t2
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t2.hidden
{
    opacity: 0;
}

#t3
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t3.hidden
{
    opacity: 0;
}


.table-position
{
    display: flex;
    justify-content: center;
  
}

.table-style
{
    width: clamp(20rem, 50vw, 60rem);
    border-radius: 40px;
    box-shadow: 0vw 0vw 2vw white;
}

.caption-style
{
    display: block;
}

.color
{
    color: aqua;
}

@media (max-width:1000px){
    .pictures
    {

        flex-direction: column;
        margin-left: 30vw;
    }

    .images-style
    {
        width: clamp(10rem, 10vw, 10rem);
        height: clamp(10rem, 20vh, 20rem);
    }

    .images-style:hover
    {
        width: clamp(10rem, 15vw, 20rem);
        height: clamp(10rem, 25vh, 30rem);
    }

    .table-style
    {
        margin-left: 10vw;
    }

}

