.settings
{
    width: clamp(10rem, 102vw, 200rem);
    height: clamp(20rem, 20vw, 20rem);
   
}

html
{
    background-image: url(bg.jpg);
    background-size: cover;

   
}

.button
{
   
    position: relative;
    left: 0px;
    top: 100vh;
    
}

.button button
{
    height: 300px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    transition: all 0.5s ease;
}

.button button:hover
{
    background-color: turquoise;
}
.box
{
    display: flex;
    position: fixed;
    left: -300px;
    top: -50px;
    
  
}

.animation
{
    animation: slideIn 1s ease-out forwards;
}

.animation2
{
    animation: slide 1s ease-out forwards;
}

.animation3
{
    animation: slide-out 1s ease-out forwards;
}

.animation4
{
    animation: slide-out2 1s ease-out forwards;
}

.box img
{
    width: clamp(15rem, 15vw, 15rem);
    height: 103vh;
}

@keyframes slideIn{

    0%{
        left: -200px;
    }

    100%{
        left: -40px;
    }
}

@keyframes slide{
    100%{
        left: 10vw;
    }
}

@keyframes slide-out{
    0%{
        left: -40px;
    }
    100%{
        left: -300px;
    }
}

@keyframes slide-out2{
    0%{
        left: 10vw;
    }
    100%{
        left: 0vw;
    }
}

@keyframes text-animation{
    0%{
        left: -300px;
    }

    100%{
        left: -10px;
    }
}

@keyframes text-animation-out{
    0%{
        left: 0px;
    }

    100%{
        left: -300px;
    }
}

@media(max-width:570px){
    @keyframes slide-out2 {
        0%{
            left: 230px;
        }

        100%{
            left: 10vw;
        }
        
    }

    @keyframes slide {
      
        100%
        {
            left: 230px;
        }
    }
}


.text a
{
    color: red;
}

.text
{
    position: relative;
    font-size: clamp(3rem, 2vw, 2rem);
    list-style: none;
    left: -300px;
    color: white;

}


.t-animation
{
    animation: text-animation 1s ease-out forwards;
}

.t-animation-out
{
    animation: text-animation-out 1s ease-out forwards;
}


.button span
{
    font-size: 20px;
}

.title
{
    position: relative;
    top: clamp(-1rem, -2vw, -1rem);
    left: clamp(-3rem, -3vw, -3rem);
  
 
}

.text-position
{
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    
 

}

.text-style
{
    position: absolute;
    top: clamp(1vw, 1vw, 1vw);
    font-size: clamp(6rem, 8vw, 6rem);
    color: aliceblue;
    font-family: Georgia;

   
}

.stuff
{
    display: flex;
    justify-content: center;
}

#s
{
    font-size: clamp(5rem, 6vw, 5rem);
}


.pictures
{
    display: flex;
    justify-content: center;
    gap: 1vw;
    color: rgb(255, 255, 255);

    

}

.images-style
{
    width: clamp(15rem, 20vw, 20rem);
    height: clamp(25rem, 30vh, 30rem);
    border: solid 10px turquoise;
    border-radius: 30%;
    cursor: pointer;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

.images-style:hover
{
    width: clamp(20rem, 25vw, 30rem);
    height: clamp(30rem, 35vh, 30rem);
}


.caption
{
    font-size: clamp(2rem, 2vw, 2.4rem);
    font-family: Helvetica;
    
}

.table-size
{
    width: clamp(90rem, 60vw, 50rem);
    height: 50vh;
    border: none;
 

  
}

.table-size td
{
    border: solid clamp(0.1rem, 0.5vw, 1rem) black;
}

.table-size tr 
{
    border: solid clamp(0.1rem, 0.5vw, 1rem) black;
}

.table-size th 
{
    border: solid clamp(0.1rem, 0.5vw, 1rem) black;
}

.size
{
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    color: white;
}



#t1
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t1.hidden
{
    opacity: 0;
}

#t2
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t2.hidden
{
    opacity: 0;
}

#t3
{   
    transition: opacity 0.5s ease;
    opacity: 1;
    

}

#t3.hidden
{
    opacity: 0;
}


.table-position
{
    display: flex;
    justify-content: center;
  
}

.table-style
{
    width: clamp(20rem, 50vw, 60rem);
    border-radius: 40px;
    box-shadow: 0vw 0vw 2vw white;
}

.caption-style
{
    display: block;
}

.color
{
    color: aqua;
    margin-left: 5vw;
}

@media (max-width:1000px){
    .pictures
    {

        flex-direction: column;
        margin-left: 30vw;
    }

    .images-style
    {
        width: clamp(10rem, 10vw, 10rem);
        height: clamp(10rem, 20vh, 20rem);
    }

    .images-style:hover
    {
        width: clamp(10rem, 15vw, 20rem);
        height: clamp(10rem, 25vh, 30rem);
    }

    .table-style
    {
        margin-left: 10vw;
    }

    

}

